<ion-header [translucent]="true">
  <!--<ion-toolbar>
    <ion-title>
      Tab 2
    </ion-title>
  </ion-toolbar>-->
</ion-header>

<ion-content [fullscreen]="true">

  <div class="add-container">
    <p>Adicionar atividade</p>
    <!--<ion-button size="medium">
      Adicionar material
      <ion-icon name="add-circle-outline" slot="start"></ion-icon>
    </ion-button>-->
  </div>

  <h1>Materiais</h1>

  <div class="materials-container">

    <div class="material-box">
      <img src="../../assets/images/photorealistic-book-lawyer.jpg" alt="content-related-image">
      <h2>Consequências legais</h2>
      <p>4 aulas</p>
    </div>

    <div class="material-box">
      <img src="../../assets/images/assortment-with-feelings.jpg" alt="content-related-image">
      <h2>Impactos psicológicos</h2>
      <p>7 aulas</p>
    </div>

    <div class="material-box">
      <img src="../../assets/images/photorealistic-book-lawyer.jpg" alt="content-related-image">
      <h2>Consequências legais</h2>
      <p>4 aulas</p>
    </div>

    <div class="material-box">
      <img src="../../assets/images/assortment-with-feelings.jpg" alt="content-related-image">
      <h2>Impactos psicológicos</h2>
      <p>7 aulas</p>
    </div>

    <div class="material-box">
      <img src="../../assets/images/photorealistic-book-lawyer.jpg" alt="content-related-image">
      <h2>Consequências legais</h2>
      <p>4 aulas</p>
    </div>

    <div class="material-box">
      <img src="../../assets/images/assortment-with-feelings.jpg" alt="content-related-image">
      <h2>Impactos psicológicos</h2>
      <p>7 aulas</p>
    </div>

    <div class="material-box">
      <img src="../../assets/images/photorealistic-book-lawyer.jpg" alt="content-related-image">
      <h2>Consequências legais</h2>
      <p>4 aulas</p>
    </div>

    <div class="material-box">
      <img src="../../assets/images/assortment-with-feelings.jpg" alt="content-related-image">
      <h2>Impactos psicológicos</h2>
      <p>7 aulas</p>
    </div>


  </div>
  <!--<ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 2</ion-title>
    </ion-toolbar>
  </ion-header>

  <app-explore-container name="Tab 2 page"></app-explore-container>-->
</ion-content>
