ion-content {
  --background: #ffffff; /* Alterando para fundo branco */
}
/*lista de imputs*/
ion-button {
  font-size: 18px;
  width: 90%;
  margin: 0 auto;
  display: block;
}

/* Restante do seu estilo SCSS... */
/*botão de voltar */
ion-button {
  font-size: 18px;
  width: 90%;
  margin: 0 auto;
  display: block;
}


ion-button[slot="end"] {
  position: absolute;
  top: 10px;
  right: 10px;
}

ion-button {
  font-size: 18px;
  width: 90%;
  margin: 0 auto;
  display: block;
  background-color: #a783fc; /* Cor de fundo do botão */
  color: #ffffff; /* Cor do texto do botão */
  border-radius: 30px; /* Arredondamento das bordas */
  margin-top: 20px; /* Espaçamento superior */
}