<ion-content>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <ion-button class="botaoVoltar" shape="round" color="tertiary" > B
    
  </ion-button>

 
<div class="input-field">
    <label for="enstituição">instituição</label>
    <input id="matricula" type="text" placeholder="Digite Aqui...">
</div>
<div class="input-field">
  <label for="matricula">Matrícula</label>
  <input id="matricula" type="text" placeholder="Digite Aqui...">
</div>
<div class="input-field">
  <label for="Nome do agressor">Nome do agressor</label>
  <input id="matricula" type="text" placeholder="Digite Aqui...">
</div>
<div class="input-field">
  <label for="onde ocorreu a violencia">onde ocorreu a violencia</label>
  <input id="matricula" type="text" placeholder="Digite Aqui...">
</div>
<div class="input-field">
  <label for="Motivo da denicia">Motivo da denuncia</label>
  <input id="matricula" type="text" placeholder="Digite Aqui...">
</div>
 

  <ion-button class="denunciar-btn" color="tertiary">Denunciar</ion-button>

  <ion-footer>
    <ion-toolbar>
      <ion-title>© 2024 Conexão Respeito. Todos os direitos reservados.</ion-title>
    </ion-toolbar>
  </ion-footer>
</ion-content>
